@media (max-width:425px) {
    .informations{
        justify-content: center;
        flex-direction: column;
        .about{
            h2,p{
                padding: 0;
                text-align: center;
            }
            h2{
                font-size: var(--xl-sizing);
            }
            p{
                font-size: 15px;
                width: 90vw;
            }
        }
        .card_informations{
            width: 50vw;

            ol{
                align-items: center;
                li{
                    h3{
                        font-size: 20px;
                    }
                }
            }
        }
    }
}