<div class="informations">
    <img src="../../../../assets/images/bg-image.avif" alt="">
    <div class="about">
        <h2>
            y-3
        </h2>
        <p class="paragraph">The Y-3 futuristic shoes seamlessly blend style and technology, offering a sleek and comfortable experience for the fashion-forward individual.</p>
    </div>

    <div class="card_informations">
        <ol>
            <li>
                <h3>Innovative</h3>
            </li>
            <li>
                <h3>Stylish</h3>
            </li>
            <li>
                <h3>comfortable</h3>
            </li>
            <li>
                <h3>futuristic</h3>
            </li>
        </ol>
    </div>
</div>
