@media (max-width:425px) {
    .products_container{
        width: 100vw;
        flex-direction: column;
        align-items: center;
        
        margin: 1rem 0 0 0; 
        .product_images{
            display: flex;
            gap: 10px;
            img, img:nth-child(2){
                height: 35vh;
                width: 45vw;
            }
            img:nth-child(2){
                position: relative;
                right: 0;
                bottom: 0;
            }
        }
        p{
            width: 100%;
            font-size: 20px;
            text-align: center;
        }
    }
}