.products_container{
    margin-top: 3rem;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;    
    position: relative;
    .product_images{
        img{
            object-fit: cover;
        }
        img{
            height:70vh;
            width: 40vw;
           
        }
        img:nth-child(2){
            position: absolute;
            height:40vh;
            width: 25vw;
            right: 20%;
            bottom: 5%;
        }
    }
    p{
        width: 20vw;    
        height: 30vw;
        text-align: center;
        display: grid;
        place-content: center;
    }
    
}
